body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

.navbar {
    display: flex;
    margin: 20px;
    background-color: #fff;
    padding: 10px 20px;
    padding-top: 20px;
    justify-content: space-between;
    box-shadow: 0 8px 10px rgb(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: rgb(13, 166, 255);
}

.navbar a.active {
    color: rgb(13, 166, 255);
}

.navbar a.active::after {
    width: 100%;
}

.card img {
    width: 10%;
    height: 40%;
    border-radius: 10%;
    margin-left: 0 10px;
    margin-top: 100px;
    border: 3px solid black;
}

.cardn h1 {
    text-decoration: underline;
}

.cardn {
    background-color: white;
    width: 70%;
    height: 250px;
    margin: 90px;
    transform: translate(120px, 40px);
    color: black;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);;
    border: 1px solid black;
}